<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="@Context.GetLink("/")">@Context.String(BlogKeys.Title)</a>
        <nav class="site-nav">
            @Html.Partial("_Links.cshtml")
        </nav>
    </div>
</header>